{#
/**
 * @file fk_market.html.twig
 * Default theme implementation to present Fk_market data.
 *
 * This template is used when viewing Fk_market pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_fk_market()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('fk_market') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
