{#
/**
 * @file fk_purchase.html.twig
 * Default theme implementation to present Fk_purchase data.
 *
 * This template is used when viewing Fk_purchase pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_fk_purchase()
 *
 * @ingroup themeable
 */
#}


<div{{ attributes.addClass('fk_purchase') }}>
  {% if content %}
    {{- content -}}       Hello!  
  {% endif %}
</div>
